<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	  layout:decorator="fragments/layout">
<head>
	<meta charset="UTF-8" />
	<title th:text="'NBP Explore - '+#{v.home.title}"></title>
	</head>
<body>

<div class="container" layout:fragment="content">
	
	<h1 th:text="#{v.home.title}"></h1>
	<hr/>
	
	
	<div class="row">
		<!-- SEARCH FORM -->
		<div class="col-sm-4 col-md-4">
		<div class="thumbnail" style="padding: 0px;">
			<div class="panel panel-primary" style="margin-bottom: 0px;">
				<div id="seatch-heading" class="panel-heading dropdown-toggle">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					&nbsp;<span th:text="#{params}"></span>
					<span id="search-form-toggle" class="glyphicon glyphicon-menu-hamburger pull-right"></span>
				</div>
				<div id="search-form" class="panel-body">
					<form action="" method="post" th:object="${homeForm}">
						<div class="input-group" >
							<span class="input-group-addon glyphicon glyphicon-calendar" id="basic-addon1"></span>
							<input type="date" id="listingDate" name="listingDate" th:field="${homeForm.listingDate}" 
								   class="form-control" th:placeholder="#{trading.date}" aria-describedby="basic-addon1" 
								   data-toggle="tooltip" data-placement="right" th:title="#{trading.date.tooltip}" th:errorclass="invalid" />
						</div>
						<div class="alert alert-danger" th:errors="*{listingDate}"></div>
						<hr/>
						<input type="submit" th:value="#{search}" class="btn btn-primary" />
					</form>	
				</div>
			</div>
		
		</div>
		</div>
				
		<!-- TABLE -->
		<div class="col-sm-8 col-md-8">
		<div class="thumbnail">
		<div class="caption" th:if="${trading}">
			<h3 th:text="#{v.home.table.head(${trading.number},${trading.date})}"></h3>
			<table class="table table-hover">
				<tr th:each="bid : ${trading.bids}">
					<td width="25">
						<i class="flagstrap-icon" 
							th:classappend="${'flagstrap-'+#strings.substring(#strings.toLowerCase(bid.currency.code),0,2)}" 
							style="margin-right: 10px;"></i>
					</td>
					<td ><span th:text="${bid.currency.name}" ></span> (<span th:text="${bid.currency.code}" ></span>)</td>	
					<td th:text="${bid.bid}" style="font-weight: bold" />
				</tr>
			</table>			
		</div>
		</div>
		</div>
	
	</div>

	<script th:inline="javascript" type="text/javascript">
	$(document).ready(function(){
		
		// prepare a datepicker
		$("#listingDate").datepicker({
			format: 'yyyy-mm-dd',
			weekStart: 1,
			autoclose: true,
			endDate: new Date()
		});
	});
	</script>
	
	
</div>

</body>
</html>