<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<title>NBP Explore</title>
	
	<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/webjars/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" />
	<link rel="stylesheet" href="css/flags.css" />
	
	<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
	<script src="css/jumbotron-narrow.css"></script>
	<!-- <link rel="stylesheet" href="/css/sticky-footer-navbar.css" /> -->
	
</head>
<body>

<div class="container">
      <div class="header clearfix" >
      
        <nav>
	        <div style="margin-left: 10px;" class="pull-right">
	        <a style="" href="?lang=PL">
	     		<i class="flagstrap-icon flagstrap-pl"></i>
			</a>
			<a href="?lang=EN">
	   			<i class="flagstrap-icon flagstrap-us"></i>
	   		</a>
	   		<br/>
	   		<a style="" href="?lang=de">
	     		<i class="flagstrap-icon flagstrap-de"></i>
			</a>
        	</div>
        	 
          	<ul class="nav nav-pills pull-right">
	          	<li role="presentation" id="menu-home" ><a href="/" th:text="#{menu.home}"></a></li>
	          	<li role="presentation" id="menu-analize-dropdown" class="dropdown" >
	          		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	          			<span th:text="#{menu.analizes}"></span><span class="caret"></span>
	          		</a>
	          		<ul class="dropdown-menu">
						<li role="presentation" id="menu-analize"><a href="/analize" th:text="#{menu.analize.currency}"></a></li>
	      				<li role="presentation" id="menu-comp"><a href="/comp" th:text="#{menu.comp.currency}"></a></li>
	    			</ul>
	            </li>
	            <li role="presentation" id="menu-contact"><a href="/contact" th:text="#{menu.contact}"></a></li>
          	</ul>
        </nav>
        
        <h3 class="text-muted">
        	<img src="images/logo_24.png" />
        	NBP Explore
        </h3>
      </div>
      <div style="height: 15px; margin-bottom: 15px ;background-color: #aaa;"></div>
	<div class="row marketing">
	
	<div id="messages-area" class="container">
		<div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
	</div>
	
	<!-- 
	<div>LANG: <span th:text="${session['org.springframework.web.servlet.i18n.SessionLocaleResolver.LOCALE']}" ></span></div>
	-->
	
	<section layout:fragment="content">
		Main content
	</section>
	</div>

	<br/><br/><hr/>
	<footer class="footer">
      <div class="container">
        <span class="text-muted">2017 Spring Boot Traning, by Andrzej Poloczek.</span>
      </div>
    </footer>

</div>

<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="/webjars/chartjs/2.4.0/Chart.min.js"></script>
<script src="js/jquery.flagstrap.js"></script>

<script type="text/javascript">

	/* Navigation manager */
	if (window.location.pathname == '/analize') {
		$("#menu-analize-dropdown").addClass("active").change();
		$("#menu-analize").addClass("active").change();
	} else if (window.location.pathname == '/comp') {
		$("#menu-analize-dropdown").addClass("active").change();
		$("#menu-comp").addClass("active").change();
	} else if (window.location.pathname == '/contact') {
		$("#menu-contact").addClass("active");
	} else {
		$("#menu-home").addClass("active");
	}
	
	/* Turn on bootstrap tolltip */
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});

</script>

</body>
</html>